#card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(44, 44, 44);
    ;
    border: 0.2em solid rgb(73, 175, 64);
    border-radius: 5%;
    width: 20vw;
}

#first {
    width: 20vw;
}

#img_card {
    width: max-content;
    height: max-content;
    max-width: 20vw;
    max-height: 20vh;
}

#desc {
    width: 20vw;
}